{
  "mcpServers": {
    "server_stdio": {
      "command": "uv",
      "args": [
        "--directory",
        "/ABSOLUTE/PROJECT/PATH",
        "run",
        "server"
      ]
    },
    "server_sse": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:8081/sse"
      ]
    },
    "server_shttp": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:8080/mcp"
      ]
    }
  }
}